.button {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255, 0.5);

  img {
    width: 100%;
  }

  position: relative;

  &.unread::after {
    /* Positioned at corner */
    position: absolute;
    top: 5px;
    right: 5px;

    /* Red dot */
    content: '';
    display: block;
    background-color: red;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    animation: radar 1s infinite;
  }

  &.showsFinal {
    animation: neon 1s linear infinite;
  }
}

@keyframes radar {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(0.8);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes neon {
  from {
    filter: hue-rotate(0);
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  to {
    filter: hue-rotate(360deg);
    transform: scale(1);
  }
}
