.marquee {
  position: relative;
  overflow: hidden;
  width: 100%;

  .content {
    position: absolute;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    animation: marquee linear infinite;
  }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
