.slot {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 10px 2px rgba(0, 0, 0, 0.3));

  .item {
    position: absolute;
    width: 100%;

    &.side {
      z-index: 1;
      top: 40px; /* Below the creature */
    }
  }

  .creature {
    width: 100%;
    z-index: 0;
  }
}
