.item {
  width: 150px;
  background-color: white;
  border: 0;
  border-radius: 10px;
  overflow: hidden;

  & > img {
    width: 100%;
  }

  &::before {
    content: attr(data-name);
    font-size: 12pt;
    display: block;
    padding-top: 0.5em;
  }

  &::after {
    content: "Visit: " attr(data-seen-count);
    font-size: 10pt;
    display: block;
    padding: 0.5em 0;
  }

  &:disabled {
    & > img {
      filter: brightness(0);
    }

    &::before {
      content: '???';
    }

    &::after {
      display: none;
    }
  }
}
