body {
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .protagonist {
    position: absolute;
    z-index: 1;
  }

  .slot {
    position: absolute;

    &.upperLeft {
      transform: translate(-120px, -100px);
      z-index: 0;
    }

    &.upperRight {
      transform: translate(120px, -100px);
      z-index: 0;
    }

    &.lowerLeft {
      transform: translate(-120px, 100px);
      z-index: 2;
    }

    &.lowerRight {
      transform: translate(120px, 100px);
      z-index: 2;
    }
  }

  position: relative;

  .option {
    position: absolute;

    &.upperLeft {
      top: 0;
      left: 0;
    }

    &.upperRight {
      top: 0;
      right: 0;
    }
  }
}
