.item {
  background-color: white;
  transition: 0.3s background-color;
  border: 3px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 5px;

  .icon {
    width: 100px;
    height: 100px;
    position: relative;
    display: block;
    margin: auto;
    text-align: left;

    img {
      position: absolute;
      width: 100px;
      transition: 0.3s filter;
    }

    .overlay {
      z-index: 1;

      &:nth-child(2) {
        transform: translateX(-30px);
      }
    }
  }

  &::before {
    content: attr(data-name);
    font-size: 12pt;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border: 3px solid transparent;
    min-height: 1.5em;
  }

  &:not(.bought) {
    &::before {
      width: auto;
      content: attr(data-bells);
      background-color: white;
      background-image: url(../../../BellCount/bell.png);
      background-size: contain;
      background-repeat: no-repeat;
      padding: 0 0.5em 0 2em;
      border-color: goldenrod;
      border-radius: 1em;
      color: black;
    }
  }

  &.placed {
    background-color: lightgray;
    border-color: lightgray;
  }

  &:disabled {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: transparent;

    img {
      filter: brightness(0);
    }
  }
}
