.item {
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 5px;

  img {
    width: 100px;
    display: block;
  }

  &::before {
    content: attr(data-name);
    font-size: 12pt;
    max-width: 100%;
  }

  &.placed {
    background-color: lightgray;
    border-color: lightgray;
  }
}
